@charset "UTF-8";
body {
            background-color: rgb(255, 242, 227);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
            margin: 2%;
        }
        h1 {
            text-align: center;
            text-shadow: 1px 1px 2px rgba(75, 71, 65, 0.685);
        }
        p {
            color: rgb(85, 85, 85);
            text-align: justify;
        }
iframe {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    aspect-ratio: 16/9;
    height: auto;
    max-width: 100%;
}

@media (min-width: 720px) {
    iframe {
        width: 31%;
        height: auto;
        float: left;
        margin-right: 20px;
        aspect-ratio: 16/9;
    }

    iframe:nth-child(3n) {
        margin-right: 0;
    }
}

.sidebar {
    width: 200px;
    height: 100vh;
    background-color: #ddc29a;
    color: beige;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar h2 {
    margin-top: 0;
    font-size: 1.5em;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin: 15px 0;
}

.sidebar a {
    color: bisque;
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #ddc29aaf;
    margin-left: 220px;
    padding: 20px;
    max-width: 1500px;
    box-sizing: border-box;
}

@media (max-width: 780px) {
    .sidebar {
        width: 100%;
        height: auto;
        float: none;
        padding: 10px;
        text-align: center;
    }

    .sidebar ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    .sidebarli {
        margin: 5px;
    }

    main {
        margin-top: 220px;
        margin-left: 0;
        padding: 15px;
    }
}